<div class="header">
<h1>New task</h1>
</div>
<div class="border-bottom ms-3 mb-3 pb-3" style="width: 90%;">
  <%= render "form", task: @task %>
</div>
<div class="ms-3">
  <%= link_to "⬅ Back to list", tasks_path %>
</div>
